[filter "lfs"]
        clean = git-lfs clean -- %f
        smudge = git-lfs smudge -- %f
        process = git-lfs filter-process
        required = true
[user]
        name = Cellan Hall
        email = hallcellan@gmail.com
[init]
	defaultBranch = main
[fetch]
        prune = true
[hub]
        protocol = ssh
[github]
        user = Ce11an
[core]
        excludesfile = ~/.gitignore_global
        editor = vim
        autocrlf = false
        eol = lf
[color]
        diff = auto
        status = auto
        branch = auto
        ui = true
[pull]
        ff = only

[merge]
        conflictstyle = diff3
[rebase]
        autosquash = true
[diff]
        colorMoved = true
        algorithm = histogram
[interactive]
        diffFilter = delta --color-only
[delta]
        side-by-side = true
        line-numbers = true
        minus-style                   = syntax "#3f2d3d"
        minus-non-emph-style          = syntax "#3f2d3d"
        minus-emph-style              = syntax "#763842"
        minus-empty-line-marker-style = syntax "#3f2d3d"
        line-numbers-minus-style      = "#914c54"
        plus-style                    = syntax "#283b4d"
        plus-non-emph-style           = syntax "#283b4d"
        plus-emph-style               = syntax "#316172"
        plus-empty-line-marker-style  = syntax "#283b4d"
        line-numbers-plus-style       = "#449dab"
        line-numbers-zero-style       = "#3b4261"

