[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Cellan Hall
	email = hallcellan@gmail.com
[init]
	defaultBranch = main
[fetch]
	prune = true
[hub]
        protocol = ssh
[github]
        user = Ce11an
[core]
        excludesfile = ~/.gitignore_global
        editor = vim
        autocrlf = false
        eol = lf
[color]
        diff = auto
        status = auto
        branch = auto
        ui = true
[pull]
	ff = only

[merge]
        conflictstyle = zdiff3
[rebase]
        autosquash = true
[diff]
        algorithm = histogram

